extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Login

        // login form
        form(method='POST' action='/reset')
          div.form-group
            label(for='name') Server Hostname:
              input#name.form-control(type='text', placeholder='Hostname' name='host')
          div.form-group
            label(for='unlock') Unlock:
              input#unlock.form-control(type='checkbox' name='unlock')
          div.form-group
            label(for='reset') Reset:
              input#unlock.form-control(type='checkbox' name='reset')
          button.btn.btn-primary(type='submit') Reset / Unlock Password
